<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<h1>Tables</h1>


		<table style="width:100%">

			<caption>Truman</caption>
			<thead>
				<tr>
					<th colspan="2">Month</th>
					<th>Day</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hello</td>
					<td>Hi</td>
					<td>Greetings</td>
				</tr>
				<tr>
					<td rowspan="2">Good afternoon</td>
					<td>Good evening</td>
					<td>and Good night</td>
				</tr>
				<tr>
					<td>Farewell</td>
					<td>Cya</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>Time</td>
					<td>Clock</td>
					<td>Watch</td>
				</tr>
			</tfoot>

		</table>
		<table style="width:100%">
			<thead>
				<tr>
					<th>How</th>
					<th>Is</th>
					<th>It</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Going</td>
					<td>To</td>
					<td>End?</td>
				</tr>
				<tr>
					<td>How</td>
					<td>Is</td>
					<td>It</td>
				</tr>
				<tr>
					<td>Going</td>
					<td>To</td>
					<td>End?</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>How</td>
					<td>Is</td>
					<td>It?</td>
				</tr>
			</tfoot>

		</table>

		<p>This section focuses on the manipulation and use of tables in HTML</p>

		<h2>Lists</h2>

		<ol>
			<li>Coffee</li>
			<li>Tea</li>
			<li>Dairy</li>
			<ul>
				<li>Cheese</li>
				<li>Yogurt</li>
				<li>Milk</li>
			</ul>
		</ol>

		<p>This section focuses on order and unordered lists in HTML</p>



		<h3>Images</h3>
		<!-- External image URL, use full width of browser window -->
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="A snowboarder">
		<img src="/img/image0-84.jpg" alt="Picture of key mouse" width="500" height="333">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Komodo_dragons_%28Varanus_komodoensis%29_fighting.jpg/1024px-Komodo_dragons_%28Varanus_komodoensis%29_fighting.jpg"
			alt="2 lizards fighting">

		<p>This section focuses on Images</p>

		<h4>Audio</h4>

		<audio controls>
			<source src="/aud/Nujabes-LoveSickpart2.mp3" type="audio/mp3">
		</audio>
		<p>This section focuses on audio and audio players</p>

		<h5>Video</h5>
		<video width="1280" height="720" controls>
			<source src="/vid/truman_show.mp4" type="video/mp4">
			<p>Sorry, your browser doesn't support HTML5 video</p>
		</video>
		<p>This section focuses on video and video players</p>







		<!-- End your code here  -->



	</main>
</div>